<launch>
	<!-- Fake AMCL localization -->

  <arg name="world" default="big_room"/>

  <node name="map_server" pkg="map_server" type="map_server" args="$(find omni3ros_pkg)/maps/$(arg world).yaml" /> 

  <!-- <node pkg="fake_localization" type="fake_localization" name="fake_localization" output="screen" /> -->
 
  <!-- For fake localization we need static transform between /odom and /map -->
  <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 -1.57 0 0 /map /odom 100" />

</launch>