<?xml version="1.0" encoding="UTF-8"?>

<!-- Launch Rviz, Gazebo and controllers -->
<launch>
	<!-- Load Gazebo -->
	<include file="$(find omni3ros_pkg)/launch/urdf_gazebo_view.launch" />

	<!-- Load Rviz -->
	<include file="$(find omni3ros_pkg)/launch/urdf_rviz_view.launch" />

	<!-- Load velocity contollers -->
	<include file="$(find omni3ros_pkg)/launch/velocity_controller.launch" /> 

</launch>
